* {
    box-sizing: border-box;
}

form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

form > div {
    display: flex;
    justify-content: start;
    width: 60%;
    /* column-gap: 30px; */
}

div > label {
    flex: 1;
}

div > input {
    flex: 2;
    border-radius: 5px;
    border: 1px solid black;
    padding: 2px 5px;
}

div > input:focus {
    outline: none;
    background-color: #eff6ff;
    border: 2px solid black;
}

div > input:invalid {
    border: 2px solid red;
}